@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("./assets/home.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    gap: 100px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header {
    background-color: rgb(216,112,147,0.5);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255,192,203,0.85);
    border-radius: 20px;
    height: 400px;
    width: 400px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}